.pageContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 2vh;
}
.movieDetails {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vh;
}
.movieDetails img {
  width: 10vw;
}
@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .movieDetails img {
    width: 25vw;
  }
}
